{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="header1">
    <div class="right-container1">
        <div class="login-box1">
            <h1>Administrator Login</h1>
            <form method="POST" action="{{ url_for('auth.admin_login') }}" method="POST">
                <div>
                    <input type="text" name="email" placeholder="Email or Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}