{% extends "base.html" %}

{% block content %}
<div class="logo-container">
    <a href="{{ url_for('auth.login')}}">
        <img src="{{ url_for('static', filename='images/Library.png') }}" alt="Library Logo" class="logo-img"> 
    </a>
</div>

<div class="container_mt-5">
    
    <div class="admin_signup">
        <h2 class="text-center">Administrator Signup</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">
            <div class="mb-3">
                <label for="admin_name" class="form-label">Admin Name</label>
                <input type="text" placeholder="Enter your name" class="form-control" id="admin_name" name="admin_name" value="{{ admin_name }}" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" placeholder="Enter your email" class="form-control" id="email" name="email" value="{{ admin_email }}" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" placeholder="Enter your password" class="form-control" id="password" name="password" required>
            </div>

            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="text" placeholder="Enter your phone number" class="form-control" id="phone_number" name="phone_number" value="{{ admin_phonenumber }}">
            </div>

            <div class="mb-3">
                <label for="admin_secret_key" class="form-label">Admin Secret Key</label>
                <input type="password" placeholder="Enter secret key" class="form-control" id="admin_secret_key" name="admin_secret_key" required>
            </div>
            <small class="text-muted">Enter the secret key provided by the system.</small>

            <button type="submit" class="btn btn-primary w-100">Create Admin Account</button>
        </form>

        <div class="text-center mt-3">
            <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}
