<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style3.css') }}">

    {% block title %}{% endblock %}
</head>
<body>
    <div id="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul id="flash-messages">
            {% for category, message in messages %}
              <li class="flash-message {{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='functions.js') }}"></script>
</body>
</html>
