<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% block title %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='function.js') }}"></script>
</body>
</html>
