{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="header">
    <h1>Library Hub</h1>
    <div class="right-container">
        <div class="login-box">
            <div>
                <a href="{{ url_for('auth.admin_login') }}" class="btn-link">
                    <button>Login - Admin</button>
                </a>
            </div>
        <div class="login_boxindex">
            <div>
                <a href="{{ url_for('auth.member_login') }}" class="btn-link">
                    <button>Login - Member</button>
                </a>
            </div>
        </div>
            
            <div class="new-user-container">
            <span>New member? <a href="{{ url_for('auth.member_signup') }}" class="signup-text">Sign up here</a></span>
            <span class="divider"></span>
            <span>New admin? <a href="{{ url_for('auth.admin_signup') }}" class="signup-text">Create Admin Account</a></span>
            <span class="divider"></span>
            </div>
        </div>


        <div class="main">
            <div class="divider"></div>
            <h1>Library Hub</h1>
            <p>An all-in-one digital solution to efficiently manage library operations from tracking </p>
            <p>book inventory and member registrations to handling borrow and return transactions and overdue alerts.</p>
            <p>Designed for simplicity, speed, and seamless administration, this system brings modern convenience to traditional libraries.</p>
            <p>Whether you're a student, librarian, or administrator, managing resources has never been easier!</p>
        </div>
    </div>
</div>
{% endblock %}