{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Member Signup</h1>
        <form method="POST">
            <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" placeholder="Enter your name" class="form-control" id="name" name="name" value="{{ name }}" required>
            </div>
            <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" class="form-control" id="email" name="email" value="{{ email }}" required >
            </div>
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" placeholder="Enter your password" class="form-control" id="password" name="password" value="{{ password }}" required>
            </div>
            <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your phone number" class="form-control" id="phone_number" name="phone_number" value="{{ phone_number }}" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Create Member Account</button>
            
        </form>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
        </div>
    </div>
{% endblock %}