{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <div class="header1">
        <div class="logo-container">
            <a href="{{ url_for('auth.login')}}">
                <img src="{{ url_for('static', filename='images/Library.png') }}" alt="Library Logo" class="logo-img"> 
            </a>
        </div>
        <div class="right-container1">
            <div class="login-box1">
                <h1>Member Login</h1>
                <form method="POST" action="{{ url_for('auth.member_login') }}">
                    <div>
                        <input type="text" name="email" placeholder="Email or Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}